* { box-sizing: border-box; padding: 0; margin: 0; }

a { text-decoration: none; }

ul, li {list-style: none; margin: 10px;}

.circular--img {display: inline-block; overflow: hidden; border-radius: 50%; border: 4px solid #ecf0f1;}
.circular--img img {width: 100%; height: 100%; object-fit: cover;}
.circular--size40 {width: 40px; height: 40px;}
.circular--size200 {width: 200px; height: 200px;}
.circular--size300 {width: 300px; height: 300px;}

h1 {margin-bottom: 20px;}

input {margin-bottom: 3px;}

.d-sub-btn {display: flex; justify-content: center;}

.sub-btn {width: 200px; margin-top: 20px;}

button {width: 200px;}

section {margin: 1%; border: 1px solid black; padding: 5px;}

html, body { height: 100%; scroll-behavior: auto;}
header { background-color: coral; }
footer { background-color: black; color: white; text-align: center; }

table {height: 100%; width: 100%; table-layout: fixed;}
table, th, td {border: 1px solid #4f4f4f; border-collapse: collapse; text-align: center;}
th, td {padding: 7px;}

.flex-align-center { align-items: center; }
.flex-center { justify-content: center; align-items: center; }
.flex-container { display: flex; height: 100%; width: 100%; }
.flex-direction-column { flex-direction: column; }

.font-color-white { color: #fff; }
.font-color-black { color: #000;}

.h-50 { height: 50px; }
.h-100 { height: 100px; }
.hidden {display: none;}

.menu-selected {font-width: bold;}
.menu-selected a {color: #ff0000;}

.m-r-10 { margin-right: 10px; }
.m-r-20 { margin-right: 20px; }

.p10 {padding: 10px;}
.p-lr-10 { padding: 0 10px; }
.p-lr-20 { padding: 0 20px; }
.pointer {cursor: pointer;}

.id-input > label > input {margin-left : 54.4px;}

.welcome { margin-left: auto; color: white;}

#container { min-height: 100%; display: grid; grid-template-rows: 50px 1fr 50px; }
